.centre {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#alarmSet {
  margin: 20px;
}

#timeRemaining {
  font-size: 60px;
}

/* From https://developer.mozilla.org/en-US/docs/Web/HTML/Element/blink */
.blink {
  animation: 1s linear infinite blink;
}

@keyframes blink {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
